* {
    margin: 0;
    padding: 0;

    header {
        nav{
            background-color: $color-principal;
            font-family: $font-principal;
            font-weight: 400;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            font-size: 21px;
            padding: 15px 0 15px 15px;
            border-bottom: 1px solid $color-negro;
            ul {
                display: flex;
                list-style: none;
                padding: 0px;
                margin: 0px;
                color: $color-blanco;

                li{
                    margin: 0 5px;
                }
                a{
                    text-decoration: none;
                    color: $color-blanco;
                }
            }
        }
    }
    main{
        .main__div{
            background-color: $color-principal;
            background-image: linear-gradient(315deg, lighten($color-principal, 7%) 0%, lighten($color-principal, 20%) 74%);
            border-bottom: 1px solid $color-principal;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0px;
            height: 100%;
            h1{
                margin-bottom: 30%;
                font-family: $font-secundaria;
                font-size: 40px;
                font-weight: 500;
                text-align: center;
                color: $color-negro;
            }
            div{
                margin: 10px;
            }
        }
        #avatar{
            margin-top: 80%;
            font-size: 125px;
            color: $color-blanco;
        }
    }
    .main__section{
        @extend %flexwraprow;
        justify-content: space-around;
        align-items: center;
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(217,215,215,1) 100%);
        padding: 50px 0;  
    }
    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Raleway';
        font-weight: 500;
        font-size: 15px;
        text-align: center;
        border: 2px solid rgb(121, 121, 121);
        border-radius: 10px;
        box-shadow:  10px 10px 20px #d3d3d3, -10px -10px 20px #ededed;
        padding: 5px;
        margin: 10px 10px;
        width: 300px;
        height: 350px;
        p, img{
            margin: auto;
        }
    }
    .shadowcss {
        box-shadow: 0px 1px 11px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 1px 11px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 1px 11px 0px rgba(0,0,0,0.75);
    }
    footer{
        width: 100%;
        position: fixed;
        bottom: 0;
        .footer__div{
            background-color: $color-principal;
            font-family: $font-principal;
            font-weight: 500;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            font-size: 12px;
            padding: 15px 0 15px 15px;
            .footer__div__p{
                width: 150px;
                height: 25px;
            }
            .pcenter{
                margin: 0 auto;
                text-align: left;
            }
            #copy{
                font-size: 25px;
            }
        }
        div{
            display: flex;
            align-items: center;
            padding: 5px;
            color: $color-blanco
        }
    }
    .divMenor {
        margin: map-get($rems, x2);
    }
    .divSpace{
        height: 100px;
    }
}